.header-text p {
    margin: 0;
    opacity: 0.9;
}

/* ========================
   NAVIGATION
======================== */

nav {
    margin-left: auto;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    text-decoration: underline;
}

/* ===== Bouton URGENCE dans le menu ===== */

.urgence {
    background: #ff3b3b;
    color: white !important;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
}

.urgence:hover {
    background: #d62828;
}

/* ========================
   CONTENU
======================== */

.content, .container {
    padding: 30px;
